<p>
	<br /><nav style="color:red; font-weight:bolder">JOUEURS</nav><br>
	<nav>
		<span> Identifiant : <input id="id_joueur" ng-model="joueur.id" type="text"></span><br>
		<span>Nom : <input id="nom_joueur" ng-model="joueur.nom" ng-change="logger(joueur.nom)" type="text"></span><br>
		<span>Prénom : <input id="prenom_joueur" ng-model="joueur.prenom" type="text"></span><br>
		<span>Sexe : <input id="sexe_joueur" ng-model="joueur.sexe" type="text"></span><br>
		<span>Classement ATP : <input id="classement_atp" ng-model="joueur.classement_atp" type="text"></span><br>
		<span>Nationalité : <input id="nationalite_joueur" ng-model="joueur.nationalite" type="text"></span><br>
		<span>Age : <input id="age_joueur" ng-model="joueur.age" type="text"></span><br>
		<span>Nombre de matchs gagnés : <input id="nb_match_gagne" ng-model="joueur.nb_match_gagne" type="text"></span><br>
		<span>Nombre d'ace : <input id="nb_ace" ng-model="joueur.nb_ace" type="text"></span><br>
		<span>Vitesse moyenne : <input id="vitesse_moy" ng-model="joueur.vitesse_moy" type="text"></span><br>

	</nav>

	<div id="buttonconfirmer">
		<input id="confirmerjoueur" type="button" ng-click="inscrire ()" value="Confirmer" />
	</div>
</p>
