﻿@import 'vars';
@import 'globalfunctions';



body {
  font: 100% $font-stack;
  color: $primary-color;
  div {
      span {
          color: $primary-color;
          @include border-radius(20px);
      }
      nav {
          color: $primary-color;
      }
      footer {
          color: $primary-color;
          ul {
              color: $primary-color;
              li {
                  color: $primary-color;
              }
          }
      }
  }
}              