<p>
    <div class="container">
<!--     <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div> -->
        <h2>Striped Rows</h2>
<p>The .table-striped class adds zebra-stripes to a table:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Pr&eacutenom</th>
            <th>Age</th>
            <th>Classement ATP</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(cle, joueur) in listeJoueurs" >
            <td>{{joueur.nom}}</td>
            <td>{{joueur.prenom}}</td>
            <td>{{joueur.age}}</td>
            <td>{{joueur.classement_atp}}</td>
            <td><button ng-click="supprimer(joueur.id)">Supprimer</button></td>
            <td><a ng-href="#!/joueur/{{joueur.id}}">Editer</a></td>
        </tr>
<!--     <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart> -->
    </tbody>
</table>
			</div>
</p>
<canvas id="myChart" width="200" height="200"></canvas>
