body {
  font: 100% Helvetica, sans-serif;
  color: #ff0000;
}
body div span {
  color: #ff0000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
body div nav {
  color: #ff0000;
}
body div footer {
  color: #ff0000;
}
body div footer ul {
  color: #ff0000;
}
body div footer ul li {
  color: #ff0000;
}

/*# sourceMappingURL=bidon.css.map */
