<p>
    <nav style="color:red; font-weight:bolder">MATCHS</nav>
    <nav>
        <span>Id : <input id="id_match" ng-model="match.id" type="text" /></span><br>
        <span>Type de Match <input id="type_match" ng-model="match.type_match" type="text"></span><br>
        <span>
            Joueur 1 : <select id="joueur1" ng-model="match.joueur1" type="text">
                <option selected disabled value="">Selectionnez</option>
                <option ng-repeat="joueur in listeJoueurs" value="{{joueur.id}}">{{joueur.prenom + " " + joueur.nom}}</option>
            </select>
        </span>
        <br>
        <span>
            Joueur 2 : <select id="joueur2" ng-model="match.joueur2" type="text">
                <option selected disabled value="">Selectionnez</option>
                <option ng-repeat="joueur in listeJoueurs" value="{{joueur.id}}">{{joueur.prenom + " " + joueur.nom}}</option>

            </select>
        </span>
        <br>
        <span>
            Joueur 3 : <select id="joueur3" ng-model="match.joueur3" type="text">
                <option selected disabled value="">Selectionnez</option>
                <option ng-repeat="joueur in listeJoueurs" value="{{joueur.id}}">{{joueur.prenom + " " + joueur.nom}}</option>

            </select>
        </span><br>
        <span>
            Joueur 4 : <select id="joueur4" ng-model="match.joueur4" type="text">
                <option selected disabled value="">Selectionnez</option>
                <option ng-repeat="joueur in listeJoueurs" value="{{joueur.id}}">{{joueur.prenom + " " + joueur.nom}}</option>

            </select>
        </span>
        <br>
        <span>
            Arbitre : <select id="arbitreM" ng-model="match.arbitre" type="text">
                <option selected disabled value="">Selectionnez</option>
                <option ng-repeat="arbitre in listeArbitres" value="{{arbitre.id}}">{{arbitre.prenom + " " + arbitre.nom}}</option>

            </select>
        </span><br>
        <span>
            Terrain : <select id="terrainM" ng-model="match.terrain" type="text">
                <option selected disabled value="">Selectionnez</option>
                <option ng-repeat="terrain in listeTerrains" value="{{terrain.id}}">{{terrain.lieu + " " + terrain.nom}}</option>

            </select>
        </span><br>
    </nav>
</p>
