<p>
    <nav style="color:red; font-weight:bolder">Terrain</nav>
    <nav>
        <span>Id : <input id="id_terrain" ng-model="terrain.id" type="text" /></span><br />
        <span>Lieu : <input id="lieu" ng-model="terrain.lieu" type="text" /></span><br />
        <span>Nom : <input id="nom_terrain" ng-model="terrain.nom" type="text" /></span><br />
        <span>Type de Surface : <input id="type_surface" ng-model="terrain.type_surface" type="text" /></span><br />
        <span>Capacit&eacute; : <input id="nb_spectateur" ng-model="terrain.nb_spectateur" type="text" /></span><br />
    </nav>

    <nav>
        <input type="button" ng-click="inscrire()" value="Confirmer">
    </nav>
</p>
