<p>
    <nav style="color:red; font-weight:bolder">Arbitre</nav>
    <nav>
        <span>Id : <input id="id_arbitre" ng-model="arbitre.id" type="text" /></span><br />
        <span>Nom : <input id="nom_arbitre" ng-model="arbitre.nom" type="text" /></span><br />
        <span>Prenom : <input id="prenom_arbitre" ng-model="arbitre.prenom" type="text" /></span><br />
        <span>Age : <input id="age_arbitre" ng-model="arbitre.age" type="text" /></span><br />
        <span>Sexe :<input id="sexe_arbitre" ng-model="arbitre.sexe" type="text" /></span><br />
        <span>Nationalit&eacute : <input id="nationalite_arbitre" ng-model="arbitre.nationalite" type="text" /></span><br />
        <span>Nombre de match arbitre : <input id="nb_match_arbitre" ng-model="arbitre.nb_match_arbitre" type="text" /></span><br />
        <span>Indice experience : <input id="indice_exp" ng-model="arbitre.indice_exp" type="text" /></span><br />
    </nav>
    <nav>
        <input type="button" ng-click="inscrire()" value="Confirmer">
    </nav>
</p>
